/* Variables */

:root {
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-silver: #EEEEEE;
  --basic-brown: #766357;
  --basic-white: #ffffff;

  --basic-dark-silver: #E5E5E5;

  --basic-natural-blue: #669EC0;
  --basic-middle-blue: #81B3D2;
  --basic-dark-blue: #5496BD;

  --basic-natural-brown: #604E43;
  --basic-dark-brown: #503E33;

  --basic-natural-silver: #F2F2F2;



  --special: #663d15;
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-natural-silver);

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* .container {
  background-image: url("../img/background photo.jpg");
} */

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

/* Main navigation */

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  /* text-align: center; */

}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Site Navigation */

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0 72px;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  font-weight: 700
}

.site-navigation-item a {
  color: var(--basic-black);
}

.site-navigation-item {
  width: 25%;
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.site-navigation-item:nth-child(2) {
  text-align: left;
  margin-right: 90px
}



.site-navigation-item:last-child,
.site-navigation-item:nth-child(3) {
  text-align: right;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

/* Logo */

.main-header-logo {
  position: absolute;
  z-index: 1;
  margin-left: 571px;

}


/* Welcome */

.welcome {
  height: 216px;
  text-align: center;
  color: var(--basic-black);
}

/* Features */

.features {
height: 330px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.feature-item {
  /* text-align: center; */
  color: var(--basic-black);
}



/* Reasons */
.reason1 {
  display: flex;
  margin: 0;
  padding: 0;
}

.reason-item1 {
  padding-top: 47px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-blue);
  color: var(--basic-white);

  width: 400px;
  height: 256px;
}

.reason-item2 {
   display: flex;
  /* text-align: center; */
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-blue);
  color: var(--basic-white);

  width: auto;
  height: 256px;
}

.reasons-item {
  /* text-align: center; */
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-silver);
}
.reasons-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

}

/* Appointment */

.appointment {
  text-align: center;
  font: inherit;
  background-color: transparent;
}

.appointment-button,
.content-order {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
}

.appointment-button:hover,
.appointment-button:focus  {
  background-color: var(--basic-natural-brown);
}

.appointment-button:active {
  background-color: var(--basic-dark-brown);
}


.appointment-button-find,
.content-info  {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
}

.appointment-button-find:hover,
.appointment-button-find:focus  {
  background-color: var(--basic-natural-blue);
}

.appointment-button-find:active {
  background-color: var(--basic-dark-blue);
}


/* Footer */

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  /* text-align: center; */
}

/* Filters */

/*.price */  {
  color: var(--basic-white);
}

/* Price */



/* Sort */

.sort a {
  color: var(--basic-black);
}

.sort-price a {
  color: var(--basic-blue);
}

.sort-type a {
  color: var(--basic-black);
}

/* Content */

.sort,
.content {
  background-color: var(--basic-white);
}

.content-info a:hover,
.content-info a:focus  {
  background-color: var(--basic-natural-blue);
}

.content-info a:active {
  background-color: var(--basic-dark-blue);
}

.content-order:hover,
.content-order:focus  {
  background-color: var(--basic-natural-brown);
}

.content-order:active {
  background-color: var(--basic-dark-brown);
}

/* page-catalog conteiner */

.content-hotel-name a {
  color: var(--basic-black);
}

.content-hotel-name a:hover,
.content-hotel-name a:focus  {
  color: var(--basic-middle-blue);
}

.content-hotel-name a:active {
  color: var(--basic-black);
}

.page-catalog-conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}


